---
// Component Imports
import Hero from '../components/Hero'
import Button from '../components/Button'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
  </head>
  <body>
    <main>
      <Hero />
      <Button client:visible />
    </main>
  </body>
</html>
